   </main>
   <footer>
        <em><p class="serif"><%= getFullYear()%></p></em>
        <p>This site was made with the help of open library API</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="index.js"></script>
</body>
</html>